/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
.font-geist {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding-bottom: 12px;
  padding-right: 12px;
}

.tab-btn{
  padding: 4px 16px;
  background: transparent;
  border: 2px solid var(--color-base-300);
  color: var(--color-neutral);
  border-radius: 4px;
  cursor: pointer;
}
.tab-btn:hover{
  background: var(--color-base-300);
}
.tab-btn.active{
  border: 2px solid var(--color-primary);
  background: var(--color-primary);
  color: var(--color-primary-content);
}

.fade {
  animation: fadeAnimation 0.3s linear;
  opacity: 0;
  animation: fadeAnimation 0.3s linear forwards;
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}